<main>
  <div class="container mt-auto">
  <div class="row mb-2 justify-content-center">
    <hr class='w-100'>

    <div class="col-sm-5">
     
    <h5> Nº{{blanca.idArma}} {{blanca.nombre}} long. {{blanca.longitudEnMilimetros}} mm. {{blanca.peso}} g </h5>
     
    </div>
    <div class="col-sm-3">
      <a>
        <fa-icon [icon]="lupa" class="fa-2x" (click)="consultarBlanca()"></fa-icon>
        &nbsp;
      </a>
      <a>
        <fa-icon [icon]="pencil"class="fa-2x" (click)="modificarBlanca()"></fa-icon>&nbsp;
       </a>
     <a>
        <fa-icon [icon]="trash" class="fa-2x" (click)="borrarBlanca()"></fa-icon>
        &nbsp;
      </a>
     
    </div>
    </div>
  </div>
  </main>
