<body class="d-flex flex-column min-vh-100">
  <main>
      <div class="container mt-auto">
          <div class="row justify-content-center">
              <div class="col-8">
                  
                
                  <form class="was-validated">

                      <div class="mb-3 mt-3">
                        <h2>Nº{{blanca.idArma}} {{blanca.nombre}} long.{{blanca.longitudEnMilimetros}}mm. {{blanca.peso}}g</h2>
                         
                      </div>
                  </form>
                  </div>
                  </div>
                </div>
  </main>    
 
