<body class="d-flex flex-column min-vh-100">
  <main>
      <div class="container mt-auto">
          <div class="row justify-content-center">
              <div class="col-8">
                  
                
                  <form class="was-validated">

                      <div class="mb-3 mt-3">
                        <h2>Nº{{blanca.idArma}} {{blanca.nombre}} long.{{blanca.longitudEnMilimetros}}mm. {{blanca.peso}}g {{blanca.filo}} {{blanca.forma}}</h2>
                         
                      </div>
                  </form>
                  </div>
                  <div class= "row justify-content-center">
                    <a routerLink="/depositos"><button id="cancelar" type="button" class="btn btn-danger">Volver</button></a>
                </div>
                  </div>
                </div>
  </main>    
 
