<main>
  <div class="container mt-auto">
    <div *ngFor="let blanca of blancas">
      <app-blancas-consultar [blanca]="blanca"
      (blancaConsultar)="onBlancaConsultar($event)">
      </app-blancas-consultar>

      <app-blanca-item [blanca]="blanca"></app-blanca-item>

    </div>

    <div *ngFor="let fuego of fuegos">
      <app-fuegos-consultar [fuego]="fuego"
      (fuegoConsultar)="onFuegoConsultar($event)">
      </app-fuegos-consultar>

      <app-fuego-item [fuego]="fuego">

      </app-fuego-item>

    </div>
  </div>
</main>
