<footer>
<div class="cont_footer">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <h2>Bullseye</h2>
              <p><i>Somos el referente moderno, en el viejo mundo de las armas.</i> </p>
          </div>
          <div class="col-md-3 "></div>
          <div class="col-md-3 "></div>
                <div class="col-md-3 cont_img_footer">
              <img data-aos="fade-down-right" src="/assets/imagenes/skull.jpeg" class="img-fluid" alt="Icono armeria">
          </div>
      </div>
  </div>
</div>
</footer>
