<footer>
<div class="cont_footer">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <h2>Bullseye</h2>
              <p><i>Somos el referente moderno, en el viejo mundo de las armas.</i> </p>
          </div>
          <div class="col-md-3">
          <a class="btn btn-link" href="https://twitter.com/tweeter?lang=es" rel="noopener" target="_blank">
                  <i class="fab fa-twitter fa-3x"></i>
              </a>
          </div>
          <div class="col-md-3">
              <a class="btn btn-link" href="https://git.institutomilitar.com/llopcas/bullseye" aria-hidden="true" target="_blank" data-toggle="tooltip" data-placement="top" title="InstitutoMilitar">
              <i class="fab fa-gitlab fa-3x"></i>
              </a>

          </div>
          <div class="col-md-3 cont_img_footer">
              <img data-aos="fade-down-right" src="/assets/skull.jpeg" class="img-fluid" alt="Icono armeria">
          </div>
      </div>
  </div>
</div>
</footer>
