<main>
  <!--Sección escrito encima del formulario -->
 <section id="PreFormulario">
     <br>
     <h3>Formulario Nuevo Deposito</h3><br>
     <p>Rellene el codigo de Deposito</p><br>
 </section>
  <!--Sección del formulario -->
 <section>
     <form *ngIf="deposito"  id="formulario" class="col-md-6">
          <!--Codigo Deposito -->
         <div class="form-row">
           <div class="form-group col-md-4">
             <label >Codigo Deposito</label>
             <!-- <input type="name" [(ngModel)]="deposito.codigoDeposito" class ="form-control" id="codigoDeposito" placeholder="Codigo de Deposito"> -->
           </div>
         </div>  
          <!--Botones -->
         <button type="reset" class="btn btn-primary">Borrar</button>
         <button type="submit" class="btn btn-primary">Aceptar</button>
       </form>

 </section>
 
 <!-- <pre>{{ deposito | json }}</pre>   -->

</main>
