<header>
  <a routerLink="/depositos" class="button">Ver Depositoss</a>
  <a routerLink="/depositos/deposito-form" class="button">Añadir nuevo Deposito</a>
</header>

<main>
  <!--Sección escrito encima del formulario -->
 <section id="PreFormulario">
     <br>
     <h3>Formulario Nuevo Deposito</h3><br>
     <p>Rellene el formulario con los datos solicitados</p><br>
 </section>
  <!--Sección del formulario -->
 <section>
     <form   id="formulario" class="col-md-6">
          <!--Codigo Deposito-->
         <div class="form-row">
           <div class="form-group col-md-4">
             <label >Codigo de Deposito</label>
              <!-- <input type="text" [(ngModel)]="deposito.codigoDeposito" class ="form-control" id="nombre" placeholder="Codigo de Deposito">
             required
             name="codigoDeposito"
        minlength="3"
        maxlength="20"
        #nombre
        ="ngModel"
        [ngClass]="{
          'is-invalid': codigoDeposito
          .invalid && (codigoDeposito.dirty || codigoDeposito.touched),
          
          'is-valid': !codigoDeposito
          .invalid
        }">
        <div
        class="text-danger"
        *ngIf="codigoDeposito
        .invalid && (codigoDeposito
        .dirty || codigoDeposito
        .touched)"
      >
        <div *ngIf="codigoDeposito
        .errors.required">
          El campo es obligatorio
        
        </div>
        <div *ngIf="codigoDeposito
        .errors?.['minlength'|| 'maxlength']">
          El codigo de deposito debe tener entre 3 y 20 caracteres
           </div>
           </div> -->
          </div>
        </div>
            


          <!--Botones -->
         <button type="reset" class="btn btn-primary">Borrar</button>
         <button type="submit" class="btn btn-primary">Aceptar</button>
       </form>

 </section>
</main>