
<div class="row col-md-5 sep"  (ngSubmit)="onSubmit()">
  <div class="col-md-1">
    <a class="" data-toggle="modal"
    data-target="#modalAnalitica" (click)='armaSeleccionado.emit(arma)'>{{arma.id}}</a>
  </div>
  <div class="col-md-3">
    {{ arma.tipo }}
  </div>
  <div class="col-md-3">
    {{ arma.nombre }}
  </div>
  <div class="col-md-4">
    <a data-bs-toggle="modal" data-bs-target="#modalVerAnalitica" (click)="obtenerArma()" >
    &nbsp;<fa-icon class=" fa-2x" [icon]="mirar" ></fa-icon>&nbsp;
  </a>

   <a data-bs-toggle="modal" data-bs-target="#modalModificar" (click)="armaSeleccionado.emit(arma) " routerLink="/armas/edicion-armas/{{arma.id}}/{{arma.tipo}}">
    &nbsp;<fa-icon class=" fa-2x" [icon]="modificar"></fa-icon>&nbsp;
  </a>


  <a   type="button" (click)="borrarArma(arma.id)" routerLink="/armas" >
    &nbsp;&nbsp;
    <fa-icon class=" fa-2x" [icon]="trash"></fa-icon>
    &nbsp;
  </a>
  </div>

  <!-- <div class="col-sm-4">
    <a class="" data-bs-toggle="modal" data-bs-target="#modalNegocio" (click)="servicioSeleccionado.emit(servicio)"  >
      &nbsp;<fa-icon class=" fa-2x" [icon]="eye"></fa-icon>&nbsp;
    </a> -->


  </div>
