
    <main>
      <br><br><br><br><br><br><br><br>
    <section id="datosBlanca" *ngIf="[blanca]">
      <form>
      <div class="form-row py-2">
        <label>Marca<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" [(ngModel)]="blanca.nombre" placeholder="Por ejemplo, KA-BAR" name="prod"
          required maxlength="15" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">Ok</div>
      </div>
      <div class="form-row py-2">
        <label>Peso<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" [(ngModel)]="blanca.peso" placeholder="P. e., 500g"
          name="prod2" required minlength="9" maxlength="9" #prod2="ngModel" [ngClass]="{
        'is-invalid': prod2.invalid && (prod2.dirty || prod2.touched),
        'is-valid': !prod2.invalid
      }" />
        <div class="invalid-feedback">Por favor, rellene este campo.</div>
        <div class="valid-feedback">ok</div>
      </div>
      
      <div class="form-row py-2">
        <label>Longitud<sup class="text-danger">*</sup></label>
        <input type="number" class="form-control" [(ngModel)]="blanca.longitudEnMilimetros" placeholder="P.e., 60 mm"
          name="prod21" required maxlength="4" min="1" max="1500" #prod21="ngModel" [ngClass]="{
        'is-invalid': prod21.invalid && (prod21.dirty || prod21.touched),
        'is-valid': ! prod21.invalid
      }" /><span class="input-group-text">mm</span>
      <div class="text-danger" *ngIf="prod21.invalid && (prod21.dirty || prod21.touched)">
        <div *ngIf="prod21.errors?.['min']"> La longitud no puede ser menor que 0</div>
      </div>
       
        <div class="valid-feedback">Ok</div>
      </div>

      
      <div class="row justify-content-center">

        <div class="col-2">
          <button id="guardar" type="submit" class="btn btn-primary" (click)="onModificarBlanca()"
            routerLink="/depositos">Guardar</button>
        </div>

        <div class="col-2">
          <a routerLink="/"><button id="cancelar" type="button" class="btn btn-danger">Cancelar</button></a>
        </div>

      </div>
      <br>
      <!-- <pre>{{ blanca | json }}</pre> -->
    </form>
    </section>
    <br><br><br><br><br>
    </main>
