
<body class="d-flex flex-column min-vh-100">
  <main>
      <div class="container mt-auto">
          <div class="row justify-content-center">
              <div class="col-8">
                <h2>Nº{{fuego.idArma}} {{fuego.nombre}} Cal.{{fuego.calibreEnMilimetros}}mm. {{fuego.peso}}g {{fuego.sistemaAccion}} {{fuego.cargador}} Cartuchos</h2>
              </div>
          </div>
      </div>
      <div class="row justify-content-center">
        <a routerLink="/depositos"><button id="cancelar" type="button" class="btn btn-danger">Volver</button></a>
    </div>
  </main>
</body>
