<main>
    <div class="container-fluid" id="contenedorFormulario">

        </div>
        <div class="col-sm-6">
          <!-- Se utiliza Bootstrap para validar los valores que se introducen en el formulario -->
          <form class="was-validated">
            <!-- Etiqueta que introduce formulario -->
            <div class="form-group">
            </div>
            <div class="form-group">
              <label for="nombreDeposito">Introduzca codigo de Deposito:</label>
              <!-- La entrada será de tipo texto, lo que se verá si no está relleno es el placeholder y este campo es obligatorio por el atributo required -->
              <input type="text" class="form-control" id="nombre" placeholder="P ej, XXYY" name="nombre" required>
                <!-- Especifica el mensaje que saldrá si se ha rellenado este campo, además saldrá en verde porque es del tipo válido -->
                <div class="valid-feedback">¡Perfecto! ¡Ese es un Codigo válido!</div>
                <!-- Especifica el mensaje que saldrá si NO se ha rellenado este campo, además saldrá en rojo porque es del tipo no válido -->
                <div class="invalid-feedback">Por favor, rellene este campo.</div>
            </div>
            <div class="row">
              <div class="col-sm-9" id="botonRegistro">
                <!-- Botón que sirve para enviar el formulario, con JavaScript se le dará funcionalidad -->
                <input class="btn btn-success btn-lg" type="submit" value="Registrar Deposito" onclick="escribirTextoArchivo();"/>
              </div>
              <div class="col-sm-3" id="botonRegistro2">
                <!-- Botón que sirve para borrar todos los campos del formulario para reiniciarlo -->
                <input class="btn btn-danger btn-lg" type="reset" title="¡CUIDADO! Se borrará todo" value="Limpiar formulario" onclick="escribirTextoArchivo2()"/>
              </div>
            </div>
          </form>
        </div>

