<body>
  <h3>SERVICIOS</h3>
  <br />
  <form [formGroup]="armaForm" (ngSubmit)="onSubmit()">


    <div class="form-group col-md-3">
      <label>Nombre</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        placeholder="Nombre"
       />
  <!--    <div *ngIf="f.get('name').invalid && (f.get('name').dirty || f.get('name').touched || submit)" class="error">
        El nombre es obligatorio
    </div> -->
    </div>
    <div class="form-group col-md-3">
      <label>Peso</label>
      <input
        type="number"
        formControlName="mass"
        class="form-control"
        placeholder="En g"
      />
    </div>
    <div class="form-group col-md-3" *ngIf="type == 1">
      <section>
        <div class="">
          <label for="longitudEnMilimetros">Longitud en Milimetros &nbsp; </label>
          <section class="form-control">
            <input
              formControlName="longitudEnMilimetros"
              type="number"
            />
          </section>
        </div>
        <app-blanca></app-blanca>
      </section></div>

      <div *ngIf="type == 2">
        <div class="form-group col-md-3">
          <label>Calibre </label>
          <input
            type="number"
            formControlName="calibreEnMilimetros"
            class="form-control"
            placeholder="calibre"
          />
        </div>
        <div class="form-group col-md-3">
          <label>Sistema Accion</label>
          <input
            type="name"
            formControlName="sistemaAccion"
            class="form-control"
            placeholder="Sistema Accion"
          />
        </div>
      </div>

    <section #botones>
      <button type="reset" class="btn">Borrar</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary">Aceptar</button>
    </section>
  </form>
  geri:{{armaForm && armaForm.value.type == 2}}
  jar:{{armaForm && armaForm.value.type == 1}}

</body>


