<form #depositoForm="ngForm">
  <div class="form-row py-2">
    <div class="col-lg-4 col-md-12">
      <label>Codigo de Deposito<sup class="text-danger">*</sup></label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="deposito.codigoDeposito"
        placeholder="Codigo de Deposito"
        name="nif"
        required
        minlength="8"
        maxlength="8"
        #nif="ngModel"
        [ngClass]="{
          'is-invalid': nif.invalid && (nif.dirty || nif.touched),
          'is-valid': !nif.invalid
        }"
      />
      <div
        class="text-danger"
        *ngIf="nif.invalid && (nif.dirty || nif.touched)"
      >
        <div *ngIf="nif.errors?.['required']">
          El DNI del usuario es obligatorio
        </div>
        <div *ngIf="nif.errors?.['minlength']">
          El Codigo debe de tener 8 caracteres
        </div>
      </div>
    </div>
  </div>

     
    <div class="form-row justify-content-between pt-5">
      <div class="col-lg-5 col-md-12">
        <button
          class="btn btn-primary"
          role="button"
          (click)="create()"
          routerLink="/depositos"
          [disabled]="!depositoForm.valid"
        >
          Crear Usuario
        </button>
      </div>
    </div>
  </form>
