<!-- <form #depositoForm="ngModel">
  <div class="form-row py-2">
    <div class="col-lg-4 col-md-12">
      <label>Codigo de Deposito <sup class="text-danger">*</sup></label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="deposito.codigoDeposito"
        placeholder="Introduzca el Codigo de Deposito"
        name="codigoDeposito"
        required
        minlength="8"
        maxlength="8"
        #codigoDeposito="ngModel"
        [ngClass]="{
          'is-invalid': codigoDeposito.invalid && (codigoDeposito.dirty || codigoDeposito.touched),
          'is-valid': !codigoDeposito.invalid
        }"
      />
      <div
        class="text-danger"
        *ngIf="codigoDeposito.invalid && (codigoDeposito.dirty || codigoDeposito.touched)"
      >
        <div *ngIf="codigoDeposito.errors?.['required']">
          El Codigo de Deposito es obligatorio
        </div>
        <div *ngIf="codigoDeposito.errors?.['minlength']">
          El Codigo de Deposito debe tener 8 caracteres
        </div>
      </div>
    </div>
  </div>
      <div class="form-row justify-content-between pt-5">
      <div class="col-lg-5 col-md-12">
        <button
          class="btn btn-primary"
          role="button"
          (click)="create()"
          routerLink="/depositos"
          [disabled]="!depositoForm.valid"
        >
          Crear Deposito
        </button>
      </div>
    </div>
  </form>
 -->
