

    <div class="container-fluid min-vh-100" id="general">
      <div class="row justify-content-center">
        <h2>DEPOSITOS</h2>
      </div>
      <div *ngFor="let deposito of depositos" id="cadaDeposito">
        <app-deposito-item
        [deposito]="deposito"
        
        (depositoEditar)="onDepositoEditar($event)"
        (depositoEliminar)="onDepositoEliminar($event)"
        (depositoConsultar)="onDepositoConsultar($event)">
        </app-deposito-item>
      
      </div>
    </div>
