
<header class="sticky">
  <div class="cont_banner_sec_3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h1>Acceso a Bullseye-App</h1>
                <p>Depositar Armas, Modificar Armas sepositadas y Sacar armas del Deposito.</p>
                <div class="sombra">

                  <div class="banner_link">
                    <a routerLink= "armas" class="banner_link"> Comencemos </a>
                  </div>
              </div>
            </div>
            <div class="col-md-8 cont_img text-center">
                <img data-aos="fade-right" src="/assets/AK47.jpeg" class="img-fluid" alt="AK-47">
            </div>
        </div>
    </div>
</div>
</header>
<router-outlet></router-outlet>
