<header class="sticky">
    <div class="col-sm-12">
        <!-- Se utiliza Bootstrap para validar los valores que se introducen en el formulario -->
        <form class="was-validated">
          <!-- Etiqueta que introduce formulario -->


          <div class="row">
            <label>Arma de Fuego</label>
            <hr>
            <label for="NuevaArmaDeFuego">Introduzca Nombre del Arma :</label>
            <input type="text" class="form-control" id="nif" placeholder="Por ejemplo HK-G36-E" name="nombre" required>
              <div class="valid-feedback">¡Perfecto! ¡Ese es un NIF válido!</div>
              <div class="invalid-feedback">Por favor, rellene este campo.</div>
              <label for="datos Fuego">Introduzca Calibre en milimetros:</label>
              <!-- Aquí la entrada son números, se define un máximo y un mínimo, el campo tendrá unas flechitas
              con las que poder aumentar/reducir dicho número -->
              <input  type="number" min="0" max="5" placeholder="Por ejemplo 5.56mm" class="form-control" id="calibre" name="calibre" required>
                <div class="valid-feedback">¡Perfecto! ¡Ese es un Calibre válido!</div>
                <div class="invalid-feedback">Por favor, rellene este campo.</div>

                <label for="datos Fuego">Introduzca Peso en gramos:</label>
                <!-- Aquí la entrada son números, se define un máximo y un mínimo, el campo tendrá unas flechitas
                con las que poder aumentar/reducir dicho número -->
                <input  type="number" min="0" max="5" placeholder="Por ejemplo 2400" class="form-control" id="peso" name="peso" required>
                  <div class="valid-feedback">¡Perfecto! ¡Ese es un Peso válido!</div>
                  <div class="invalid-feedback">Por favor, rellene este campo.</div>

                  <label for="datos Fuego">Introduzca Sistema de Accion:</label>
                  <!-- Aquí la entrada son números, se define un máximo y un mínimo, el campo tendrá unas flechitas
                  con las que poder aumentar/reducir dicho número -->
                  <input  type="number" min="0" max="5" placeholder="Por ejemplo Toma de Gases" class="form-control" id="SAccion" name="SAccion" required>
                    <div class="valid-feedback">¡Perfecto! </div>
                    <div class="invalid-feedback">Por favor, rellene este campo.</div>

                    <label for="datos Fuego">Introduzca Capacidad del Cargador:</label>
                    <!-- Aquí la entrada son números, se define un máximo y un mínimo, el campo tendrá unas flechitas
                    con las que poder aumentar/reducir dicho número -->
                    <input  type="number" min="0" max="5" placeholder="Por ejemplo 30" class="form-control" id="Cargador" name="Cargador" required>
                      <div class="valid-feedback">¡Perfecto! </div>
                      <div class="invalid-feedback">Por favor, rellene este campo.</div>




              <div class="row">
                <label>Arma de Fuego</label>
                <hr>
                <label for="NuevaArmaDeFuego">Introduzca Nombre del Arma :</label>
                <input type="text" class="form-control" id="nif" placeholder="Por ejemplo HK-G36-E" name="nombre" required>
                  <div class="valid-feedback">¡Perfecto! ¡Ese es un NIF válido!</div>
                  <div class="invalid-feedback">Por favor, rellene este campo.</div>
                  <label for="datos Fuego">Introduzca Calibre en milimetros:</label>
                  <!-- Aquí la entrada son números, se define un máximo y un mínimo, el campo tendrá unas flechitas
                  con las que poder aumentar/reducir dicho número -->
                  <input  type="number" min="0" max="5" placeholder="Por ejemplo 5.56mm" class="form-control" id="calibre" name="calibre" required>
                    <div class="valid-feedback">¡Perfecto! ¡Ese es un Calibre válido!</div>
                    <div class="invalid-feedback">Por favor, rellene este campo.</div>

                    <label for="datos Fuego">Introduzca Peso en gramos:</label>
                    <!-- Aquí la entrada son números, se define un máximo y un mínimo, el campo tendrá unas flechitas
                    con las que poder aumentar/reducir dicho número -->
                    <input  type="number" min="0" max="5" placeholder="Por ejemplo 2400" class="form-control" id="peso" name="peso" required>
                      <div class="valid-feedback">¡Perfecto! ¡Ese es un Peso válido!</div>
                      <div class="invalid-feedback">Por favor, rellene este campo.</div>

                      <label for="datos Fuego">Introduzca Sistema de Accion:</label>
                      <!-- Aquí la entrada son números, se define un máximo y un mínimo, el campo tendrá unas flechitas
                      con las que poder aumentar/reducir dicho número -->
                      <input  type="number" min="0" max="5" placeholder="Por ejemplo Toma de Gases" class="form-control" id="SAccion" name="SAccion" required>
                        <div class="valid-feedback">¡Perfecto! </div>
                        <div class="invalid-feedback">Por favor, rellene este campo.</div>

                        <label for="datos Fuego">Introduzca Capacidad del Cargador:</label>
                        <!-- Aquí la entrada son números, se define un máximo y un mínimo, el campo tendrá unas flechitas
                        con las que poder aumentar/reducir dicho número -->
                        <input  type="number" min="0" max="5" placeholder="Por ejemplo 30" class="form-control" id="Cargador" name="Cargador" required>
                          <div class="valid-feedback">¡Perfecto! </div>
                          <div class="invalid-feedback">Por favor, rellene este campo.</div>
              </div>
            </div>

          <div class="row">
            <div class="col-sm-9" id="botonRegistro">
              <!-- Botón que sirve para enviar el formulario, con JavaScript se le dará funcionalidad -->
              <input class="btn btn-success btn-lg" type="submit" value="Registrar Arma" onclick="escribirTextoArchivo();"/>
            </div>
            <div class="col-sm-3" id="botonRegistro2">
              <!-- Botón que sirve para borrar todos los campos del formulario para reiniciarlo -->
              <input class="btn btn-danger btn-lg" type="reset" title="¡CUIDADO! Se borrará todo" value="Limpiar formulario" onclick="escribirTextoArchivo2()"/>
            </div>
          </div>
        </form>
      </div>

</header>



