<!-- <body>
  <p>Armas</p> <br>
  <section>

    <div class="form-group col-md-3">
      <select  class="form-control" name="armas" [(ngModel)]="arma.nombre">
        <option *ngFor="let elemento of tipos" [value]="arma.nombre">
        <span>{{ elemento.description }}</span>
        </option>
      </select>
    </div>

  <div class="form-group col-md-3">
    <label >Nombre</label>
    <input type="name" [(ngModel)]="arma.nombre" class="form-control" id="nombreArma" placeholder="ej: HK-G36E">
  </div>



    <section *ngIf="arma.tipo==1">
      <div class="">
        <label for="fuego">Fuego  &nbsp; </label>
        <section class="form-control">
        <input name="fuego" value="true" type="radio" [(ngModel)]="arma.nombre" />
      </section>
    </div>
    <app-fuego></app-fuego>
    </section>

      <section *ngIf="arma.tipo==2">
        <app-blanca></app-blanca>
      </section>

  </section>

  <section #botones>
    <button type="reset" class="btn ">Borrar </button>&nbsp;
    <button type="submit" class="btn btn-primary"> Aceptar</button>
  </section>
  <br>

</body> -->
