<body>
  <h3>Armas</h3>
  <br />
  <form [formGroup]="armaForm" (ngSubmit)="onSubmit()">
    <div class="form-group col-md-3">
      <select
        class="form-control"
        formControlName="type"
        (change)="cambiaTipo($event)"
      >
        <option *ngFor="let elemento of tipos" [value]="elemento.description">
          <span>{{ elemento.description }}</span>
        </option>
      </select>
    </div>

    <div class="form-group col-md-3">
      <label>Nombre</label>
      <input
        type="text"
        formControlName="name"
        class="form-control"
        placeholder="Nombre" 
       />

      
         
    </div>
    <div class="form-group col-md-3">
      <label>Peso</label>
      <input
        type="number"
        formControlName="mass"
        class="form-control"
        placeholder="En g"
      />
    </div>
    <div class="form-group col-md-3" *ngIf="armaForm && armaForm.value.type == 1">
      <section>
        <div class="">
          <label for="longitudEnMilimetros">Longitud &nbsp; </label>
          <section class="form-control">
            <input
            type="number"
              formControlName="longitudEnMilimetros"
              class="form-control"
               placeholder="En mm"/>
             
          </section>
        </div>
        <div class="form-group ">
          <label> Deposito </label>
           <select
             class="form-control"
             formControlName="deposito"
             (change)="cambiaTipo($event)"
           >
             <!-- <option *ngFor="let elemento of deposito" value="{{elemento.urlDeposito}}">
               <span>{{ elemento.name}}&nbsp;{{ elemento.peso }}&nbsp;{{ elemento.longitudEnMilimetros}}</span>
             </option> -->
           </select>
         </div>
      </section></div>

      <div *ngIf="armaForm && armaForm.value.type == 2">
        <div class="form-group col-md-3">
          <label>Calibre</label>
          <input
            type="number"
            formControlName="calibreEnMilimetros"
            class="form-control"
            placeholder="calibre"
            (change)="cambiaTipo($event)"
        >        
        <div class="form-group col-md-3">
          <label>Sistema</label>
          <input
            type="name"
            formControlName="sistemaAccion"
            class="form-control"
            id="precio"
            placeholder="Sistema"
          />
        </div>
        <div class="form-group col-md-3 ">
          <label> Deposito </label>
           <select
             class="form-control"
             formControlName="deposito"
             (change)="cambiaTipo($event)"
           >
             <!-- <option *ngFor="let elemento of deposito" value="{{elemento.urlDeposito}}">
               <span>{{ elemento.nombre }}&nbsp;{{ elemento.peso }}&nbsp;{{ elemento.calibreEnMilimetros }} </span>
             </option> -->
           </select>
         </div>
      </div>
      </div>

    <section #botones>
      <button type="reset" class="btn">Borrar</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="btn btn-primary">Aceptar</button>
    </section>
  </form>
 <!--  geri:{{servicioForm && servicioForm.value.type == 2}}
  jar:{{servicioForm && servicioForm.value.type == 1}} -->

 </body>  


