header {
  background-image: url("../../../../assets/imagenes/Target.jpeg");
  background-size: cover;


}

#enlaceHome{
  color: rgb(255, 255, 255);
}

h1 {
  color: rgb(255, 255, 255);
  font-size: calc(350%);
  font-weight: bolder;
  font-style:oblique;
  justify-content: center;
  text-align: center;
  padding-top: .4rem;
  }

.nav-item{
  border-style: double;
  border-color: black;
  background-color: rgb(255, 255, 255);
}
.nav-link {
  color: rgb(0, 0, 0);
  font-weight: bolder;
}

.nav-link:hover{
  background-color: rgb(255, 255, 255);
}







