<header><!--nav bar resposiba-->
  <nav class="navbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand" href="PracticaFinal.html"><h2>Bullseye</h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample01"
          aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarsExample01">
          <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                  <a class="nav-link" href="">Armeria</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="">Deposito</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link" href="Formulario.html">Contacto</a>
              </li>
          </ul>
      </div>
  </nav>
</header>
<section>
  <!-- Banner animado -->
  <div class="banner">
      <div class="sombra">
          <h1>Bullseye</h1>
          <p>Tu armeria de referencia</p>
          <hr />
          <div class="banner_link">
              <a class="banner_link" href="">Recargas</a>
              <a class="banner_link_1" href="">Deposito</a>
              <a class="banner_link_2" href="">Equipo</a>
          </div>
      </div>
  </div>
</section>
