
<div class="row col-md-5 sep" [ngClass]="{blanca: arma.tipo===1, fuego:arma.tipo===2}" (ngSubmit)="onSubmit()">
  <!--<div class="col-md-1">
    <a class="" data-toggle="modal"
    data-target="#modalAnalitica" (click)='analiticaSeleccionado.emit(analitica)'>{{analitica.id}}</a>
  </div>-->
  <div class="col-md-3">
    {{ arma.nombre }}
  </div>
  <div class="col-md-3" *ngIf="arma.tipo ===1">
    longitud {{arma.longitudEnMilimetros}}
  </div>
  <div class="col-md-3" *ngIf="arma.tipo ===2">
    cal {{arma.calibreEnMilimetros}}, sistema {{arma.sistemaAccion}}
  </div>

  <div class="col-md-4">
   <!--  <a data-bs-toggle="modal" data-bs-target="#modalVerAnalitica" (click)="obtenerAnalitica()" >
    &nbsp;<fa-icon class=" fa-2x" [icon]="mirar" ></fa-icon>&nbsp;
  </a> -->

   <a data-bs-toggle="modal" data-bs-target="#modalModificar" (click)="armaSeleccionado.emit(arma) "
   routerLink="/armas/edicion-armas/{{arma.id}}/{{arma.tipo}}">
    &nbsp;<fa-icon class=" fa-2x" [icon]="modificar"></fa-icon>&nbsp;
  </a>


  <a   type="button" (click)="borrarArma(arma.id)">
    &nbsp;&nbsp;
    <fa-icon class=" fa-2x" [icon]="trash"></fa-icon>
    &nbsp;
  </a>
  </div>

  <!-- <div class="col-sm-4">
    <a class="" data-bs-toggle="modal" data-bs-target="#modalNegocio" (click)="servicioSeleccionado.emit(servicio)"  >
      &nbsp;<fa-icon class=" fa-2x" [icon]="eye"></fa-icon>&nbsp;
    </a> -->


  </div>


